<!--
<ion-header>
  <ion-toolbar>
    <ion-title>edit2</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <form (submit)="postArticle()">
    <ion-item>
      <!--
        <ion-label position="floating">タイトル</ion-label>
        <ion-input required type="text" [(ngModel)]="title" name="title"></ion-input>
      -->
      <ion-label position="floating">本文</ion-label>
      <ion-textarea [(ngModel)]="text" name="text"></ion-textarea>
    </ion-item>
    <div (click)="getOtherPage12()">
      <ion-button id="post-article-button" type="submit" expand="block" color="base-orange">返信する</ion-button>
    </div>
  </form>
</ion-content>
